<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partials/head') %>
</head>

<body>


    <%- include('../partials/header') %>

        <main class="auth-container">
            <section class="auth-box" style="max-width: 500px;">
                <h2>Únete al equipo 🚀</h2>

                <form action="/users/register" method="POST" class="auth-form">

                    <div style="display: flex; gap: 15px;">
                        <div class="form-group">
                            <label for="name">Nombre Completo</label>
                            <div class="input-wrapper">
                                <i class="fas fa-user"></i>
                                <input type="text" id="name" name="name" placeholder="Ej: Juan Pérez" required>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="email">Correo Electrónico</label>
                        <div class="input-wrapper">
                            <i class="fas fa-envelope"></i>
                            <input type="email" id="email" name="email" placeholder="juan@ejemplo.com" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="password">Contraseña</label>
                        <div class="input-wrapper">
                            <i class="fas fa-lock"></i>
                            <input type="password" id="password" name="password" placeholder="Mínimo 8 caracteres"
                                required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="re-password">Confirmar Contraseña</label>
                        <div class="input-wrapper">
                            <i class="fas fa-check-circle"></i>
                            <input type="password" id="re-password" name="re-password"
                                placeholder="Repite la contraseña" required>
                        </div>
                    </div>

                    <div class="form-options">
                        <label class="checkbox-label">
                            <input type="checkbox" required> Acepto los <a href="#"
                                style="margin-left:4px; color:var(--accent);">Términos y Condiciones</a>
                        </label>
                    </div>

                    <button type="submit" class="btn-primary">CREAR CUENTA</button>
                </form>

                <div class="auth-footer">
                    <p>¿Ya tienes cuenta? <a href="login.html">Inicia Sesión</a></p>
                </div>
            </section>
        </main>

        <%- include('../partials/footer') %>

</body>

</html>